/** Fonts **/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i&display=swap');


/** Default grid items definition **/

body {
    margin: 0;
}

.container {
    width: 816px;
    margin: 0 auto;
}

.header {
    display: grid;
    grid-column-gap: 22px;
    grid-template-columns: 1fr 254px;
    padding: 34px 0;
}


/** Header styles **/
.icons-wrap {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.sc-content-social.icons-wrap img,
.sc-content-social.icons-wrap a,
.sc-content-social.icons-wrap div {
    margin: 0 25px 0 0 !important;
}

.icons-wrap img:last-child,
.icons-wrap a:last-child,
.icons-wrap div:last-child {
    margin-right: 0 !important;
}

.icons-wrap a:first-child img {
    width: 19px !important;
    height: 25px !important;
}

.icons-wrap a:nth-child(2) img {
    width: 24px !important;
    height: 24px !important;
}

.icons-wrap a:nth-child(3) img {
    width: 13px !important;
    height: 25px !important;
}

.icons-wrap a:nth-child(4) img {
    width: 25px !important;
    height: 25px !important;
}

.icons-wrap a:nth-child(5) img {
    width: 28px !important;
    height: 23px !important;
}

/** Content section styles **/




.sc-content h1 {
    text-align: left;
    font-size: 53px;
    line-height: 70px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0;
    color: #2A2A2A;
    font-weight: normal;
    padding: 45px 0 50px 0;
    margin: 0;
}

.sc-content h2 {
    text-align: left;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0;
    color: #2A2A2A;
    border-top: 1px solid #D4D4D4;
    padding-top: 18px;
    margin-top: 18px;
    margin-bottom: 7px;
}

.sc-content h3 {
    text-align: left;
    font-style: italic;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 0;
    color: #333333;
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    margin: 0;
}

.content.sc-content h2,
.content.sc-content h3 {
    padding-right: 140px;
}

.content {
    padding: 0 0 102px 0;
}

.title h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 47px;
    line-height: 54px;
    padding: 0 0 14px 0;

}

.title p.subheading {
    font-weight: normal;
    font-size: 16px;
    line-height: 29px;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 1.92px;
    color: #333333;
    text-transform: uppercase;
    margin: 0;

}

p {
    font-weight: normal;
    font-size: 17px;
    line-height: 29px;
    letter-spacing: 0;
    color: #333333;
    font-family: 'PT Sans', sans-serif;
    margin: 0 0 30px 0;

}

p a {
    color: #333333;
    font-style: italic;
    text-decoration: underline;
    font-family: 'PT Sans', sans-serif;
    color: green;
}

.title a {
    font-family: 'Playfair Display', serif;
    font-style: normal;
}

.sc-content a:hover {
    text-decoration: none;
}

.title {
    padding: 0 0 85px 0;
    margin-right: 140px;
}

.article {
    margin-right: 140px;
}

.sc-content img {
    margin: 0 0 32px 0;
}

.sc-content p strong {
    font-weight: inherit;
    background: #FAFF6B;
}

ul {
    padding-left: 0;
    margin: 0 0 30px 0;
    font-weight: normal;
    font-size: 17px;
    line-height: 29px;
    letter-spacing: 0;
    color: #333333;
    font-family: 'PT Sans', sans-serif;
}

.article h2 {
    font-weight: normal;
    font-size: 29px;
    line-height: 29px;
    font-family: 'Playfair Display', serif;
    border: 0;
    padding-top: 0;
}

.article h3 {
    font-weight: normal;
    font-size: 15px;
    line-height: 29px;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    font-style: normal;
    margin: 0 0 30px 0;
}

.article h2 {
    border: none;
}

h2 a {
    text-decoration: none;
}

h2 a:hover {
    text-decoration: underline;
}

::selection,
::-moz-selection {
    background: #E1FFA4;
}


/** Responsive styles **/

@media screen and (max-width: 480px) {

    p {
        margin: 0;
    }

    .container,
    .header {
        max-width: 100%;
    }

    .header,
    .article {
        display: flex;
        flex-direction: column;
        padding: 20px 20px;
    }

    .article,
    .title {
        margin: 0;
        padding: 0px;
    }

    .title h1,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul {
        padding: 20px 20px 0;
    }

    ul {
        list-style: inside;
        margin: 0;
    }

    .logo img {
        max-width: 156px;
    }

    .nav {
        display: none;
    }

    .article h2 {
        font-size: 29px;
        line-height: 29px;
        margin: 0;
        padding: 20px 20px 0;
    }

    .article h3 {
        font-size: 15px;
        line-height: 29px;
        margin: 0;
        padding: 20px 20px 0;
    }

    h2 ~ h3 {
        padding: 5px 20px 0 !important;
    }

    p,
    ul {
        font-size: 18px;
    }


}
